{% extends "admin/layout.html" %}

{% block content %}

    {% comment %} <h2 class="mb-4">All Orders (Admin View)</h2> {% endcomment %}
    <section class="ps-5 pt-4 mb-5 w-75">
        <h2 class="text-dark fs-4 fw-semibold mb-3">All Product</h2>
        {% if orders %}
            <table class="table table-bordered table-hover">
                <thead class="table-success">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {% for item in order.items.all %}
                                <img src="{{ item.product.image1.url }}" width="50" height="50" alt="{{ item.product.name }}">
                            {% endfor %}
                        </td>
                        <td>
                            {% for item in order.items.all %}
                                <span>{{ item.product.name }}, </span>
                            {% endfor %}
                        </td>
                        <td>
                            {% for item in order.items.all %}
                                <span>{{ item.quantity }}, </span>
                            {% endfor %}
                        </td>
                        <td>
                            {% for item in order.items.all %}
                                <span>{{ item.price }}, </span>
                            {% endfor %}
                        </td>
                        
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.date }}</td>
                        <td>${{ order.total_amount }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </section>
    



{% endblock %}