{% extends "layout.html" %} {% load static %} {% block content %}

<section class="container px-4 py-5">
  <h2 class="h5 font-weight-bold mb-4 fs-4 text-uppercase">{{ category_name }}</h2>
  

    <!-- Card 1 -->
    {% if products %}
      <div class="row row-cols-1 gap-5 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4">
      {% for product in products %}
        <div class="col border rounded">
          <div class="border border-light rounded-lg p-4 d-flex flex-column align-items-center">
              <a href="{% url "singal_product" product.id %}">
                <img alt="Four fresh potatoes stacked on white background" class="mb-4"
                height="120" src="{{  product.image1.url  }}"
                width="150"/>
              </a>
              <p class="small text-muted mb-1">{{ product.category }}</p>
              <h3 class="font-weight-semibold h5 mb-1">{{ product.name }}</h3>
              <div class="d-flex align-items-center mb-3">
              <div class="text-success d-flex pe-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
              </div>
              <span class="text-muted small ml-2"> (4) </span>
              </div>
              <div class="w-100 d-flex justify-content-between align-items-center">
              <div>
                  <span class="text-success font-weight-semibold h5"> ${{ product.price }} </span>
              </div>
                <a href="{% url 'add_to_cart' product.id %}" onclick="handleAddToCart(event, this)" class="btn btn-outline-success d-flex align-items-center px-2 py-1 text-sm">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="ms-2">Add</span>
                </a>
              </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% else %}
    <h3 class='text-center my-5'>No Product Avalable</h3>
    {% endif %}
    

  
</section>

{% endblock content %}


